*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  list-style: none;
  color: #213038;
}
.top-nav-list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #213038;
  background-color: #f2f2f2;
}
.top-nav-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  gap: 25px;
}
.header-container {
  display: grid;
  grid-template-rows: repeat(2) 1fr;
  grid-template-columns: repeat(5) 1fr;
  margin-right: 10px;
  /* justify-content: flex-start;
  align-content: start;
  align-items: center; */
}

.logo {
  width: 150px;
  height: 150px;
  background: transparent;
}
.search-button {
  width: 400px;
  padding: 0.4rem;
  border-radius: 900px;
}

.rightside_list {
  /* font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  list-style: none;
  color: #213038; */
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
/* .search-input {
  width: 400px;
  border-radius: 0;
  justify-content: center;
} */
.dropdown-menu {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 25px;
  gap: 25px;
  list-style: none;
}
.dropdown-menu {
  /* font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #213038; */
}

.dropdown-menu {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
}
.services-right {
  /* font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #213038; */
}

.services-right {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  /* list-style: none; */
}

.footer-containder {
  /* font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  list-style: none; */
}
.footer-flexbox-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-auto-flow: row;
}

.footer-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: autofit;
  background-color: yellow;
  list-style-type: none;
}

.last-list {
  /* font-size: 14px; */
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-top: 1px solid;
  padding-top: 15px;
}
.last-paragraph {
  padding-top: 0;
  font-size: 12px;
  align-content: center;
}
